body {
    margin: auto;
    padding: 0;
    font-family: sans-serif;
    background: #f5f5dc;
}

.box {
    width: 600px;
    height: 450px;
    padding: 60px;
    position: absolute;
    top: 25%;
    left: 25%;
    Transform: translate (-50%, -50%);
    background: wheat;
    text-align: center;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="email"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: teal;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="email"]:focus,
.box input[type="password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.btn {
    border: 0;
    background: #038E5B;
    /* display: flex; */
    margin: 20px auto;
    text-align: center;
    /* border:2px solid #2ecc71; */
    border-radius: 5px;
    padding: 14px 40px;
    width: 130px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-align: center;
}

#red {
    background-color: #F54336 !important;
}

#clearfix {
    margin-left: 21%;
}

#clearfix a {
    padding-left: 8%;
    font-size: 13px;
}


/* .box input [type ="submit"]:hover{
        background: tomato;

    } */


/* input [type = "submit"],
    input [type = "reset"] {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 45%;
        opacity: 0.9;
    } */

.loginButton {
    margin-left: 5%;
}

.redirectBtn {
    background: teal;
    border: 1px solid orangered;
    border-radius: 5%;
    color: #fff;
}