* {
    box-sizing: border-box;
}

.w3-dropdown-hover:hover {
    position: static;
    display: block;

}


.w3-dropdown-hover:hover .w3-dropdown-content {
    position: static !important;
    display: block;
    
}



table {
    margin-top: 50%;
    width: 90%;
    padding: 10%;

}

td {
    text-align: center;
}



